#active{
	background-color: #FCB514;
	color: white;
	font-weight: 900;
}

#inactive{
	color: white;
	font-weight: 900;
}

#signup-form{
	margin-top: 7em;
	width: 40%;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-style{
	display: flex;
	justify-content: flex-end;
}

#div-homepage{
	margin-top: 7em;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}